{% block title %}Blog - {% endblock title %}

{% extends "layouts/blog.twig" %}

{% set blogCategory = query.category|default(null) %}
    
{% block blog_contents %}
<ol class="breadcrumb" style="margin-bottom:40px">
  <li><a href="{{ _helper.url('PageView', {page: 'blog'}, true)|raw }}">Blog</a></li>
  {% if blogCategory != null %}
  <li class="active"><a href="{{ _helper.url('PageView', {page: 'blog', category: blogCategory}, true)|raw }}">{{ blogCategory }}</a></li>
  {% endif %}
</ol>

{% set list = articles.fetch([blogCategory]) %}
    {% for article in list %}
        {{ blog.display_article(article, _helper) }}
        <hr />
    {% endfor %}
{% endblock %}