{% block title %}Nitronet &CenterDot; Web development lab{% endblock title %}

{% extends "layouts/main.twig" %}

{% block contents %}
<div class="section jumbotron">
      <div class="container">
        <h1>Fwk is here!</h1>
        <p>High Quality PHP Components to feed your <strong>Development Happiness</strong>.</p>
        <p><a href="{{ _helper.url('PageView', {page: 'fwk'}) }}" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
        Idontknowyet
     </div>
      </div>
</div>
{% endblock %}