{% block headertag %}
{% for asset in _helper.asset([
        '+bower/geopattern/js/geopattern.min.js',
    ], null, 'geopattern') %}
    <script type="text/javascript" src="{{ asset }}"></script>
{% endfor %}
{% endblock %}
    
{% extends "layouts/main.twig" %}

{% import "blog/macros.twig" as blog %}

{% block contents %}
    <div class="section jumbotron" data-geopattern="Blog ">
      <div class="container">
          <h3 style="margin:0;padding:0"><i class="glyphicon glyphicon-pencil pull-right" id="blogpencil" style="font-size: 130px; margin-top: 30px; margin-left: 0%; opacity: 0.2; position: absolute;"></i> Blog</h3>
      </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8">
        {% block blog_contents %}{% endblock %}
    </div>
    <div class="col-lg-4 col-md-4" style="">
        <form class="form-horizontal">
            <div class="form-group">
              <div class="col-lg-12">
                <input class="form-control" id="search" placeholder="Search the blog" type="text">
              </div>
            </div>
        </form>
        <ul class="nav nav-tabs" id="blogTabs" style="margin: 40px 0">
          <li class="active">
            <a href="#recent">Recent Articles</a>
          </li>
          <li>
            <a href="#categories">Categories</a>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div id="recent" class="tab-pane fade active in">
                <p>articles uptate nisi qui.</p>
            </div>
            <div id="categories" class="tab-pane">
                {% set categories = articles.categories() %}
                    <ul>
                {% for id, cat in categories %}
                    <li><a href="{{ _helper.url('PageView', {page: 'blog', category: cat}, true)|raw }}">{{ cat }}</a></li>
                {% endfor %}
                    </ul>
            </div>
        </div>
        <p>
                <a href="#" class="btn btn-warning">Subscribe {% if blogCategory|default(null) != null %}({{ blogCategory }}){% endif %} <i class="glyphicon glyphicon-signal"></i></a>
        </p>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function() {
    $('#blogTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
    
    $('.jumbotron').geopattern($('.jumbotron').data('geopattern'));
    
    var pencilAnim = function() {
        $('#blogpencil').animate({'margin-left': $('.container').width()-$('#blogpencil').width()-40}, 2000);
    }
    
    $(window).resize(pencilAnim);
    pencilAnim();
});

</script>
{% endblock %}