{% extends "layouts/main.twig" %}

{% block contents %}
<div class="section jumbotron" data-geopattern="fWkIntRo">
  <div class="container">
      <h3 style="margin:0;padding:0">Fwk</h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
        {% block fwk_contents %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block footertag %}
    {% for asset in _helper.asset([
    '+bower/geopattern/js/geopattern.min.js',
    ], null, 'geopattern') %}
        <script type="text/javascript" src="{{ asset }}"></script>
    {% endfor %}
    <script type="text/javascript">
        $(function() {
            $('.jumbotron').geopattern($('.jumbotron').data('geopattern'));
        });
    </script>
{% endblock %}