{% block title %}API DOC - {% endblock title %}

{% extends "layouts/fwk_package.twig" %}

{% set fwk_pkg_menu_active = "api" %}
    
{% block fwk_pkg_contents %}
<section id="pkg_contents">
    <div class="container">
  <div class="row">
    <div class="col-9">
        <h2 style="display:block;text-align: center;"><b>API Documentation</b></h2>
    </div>
</section>
{% endblock %}