{% block pkg_title %}Introduction{% endblock pkg_title %}

{% extends "layouts/fwk_package.twig" %}

{% set fwk_pkg_menu_active = "intro" %}
    
{% block fwk_pkg_contents %}
<section id="pkg_contents">
        <div class="row">
          <div class="col-lg-9">
              <h2 style="display:block;text-align: center;"><b>Fwk\Core</b><br /> Made to build robust Custom PHP Applications of any size.</h2>
              <p>Fwk\Core is an <b>application framework</b>, that's it. Designed with Abstraction in mind it let you do what you want, the way you want.</p>
          </div>
          <div class="col-lg-3">
              <p>
                 <a class="btn btn-default" style="display:block" href="https://github.com/fwk/{{ query.package }}"><i class="glyphicon glyphicon-book"></i> View on Github.com</a>
              </p>
              <iframe src="//ghbtns.com/github-btn.html?user=fwk&amp;repo={{ query.package }}&amp;type=watch&amp;count=true"
        allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
              <iframe src="//ghbtns.com/github-btn.html?user=fwk&amp;repo={{ query.package }}&amp;type=fork&amp;count=true"
        allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
          </div>
        </div>
</section>
{% endblock %}